.contact-header{
    padding: 80px 0 0 20px;
}
.contact-header span{
    font-size: 40px;
    font-weight: 800;
    border-bottom: 3px solid rgb(255, 145, 0);
}
.container section{
    padding: 30px 0;
}
.main-contact{
    background-color: white;
}
form{
    width: 75%;
    margin: 0 auto;
}
.message{
    height: 100px;
}
input[type='submit']{
    background-color: #418034;
    border: none;
    margin: 10px 0;
}
input[type='submit']:hover{
    background-color: #418034;
    border: none;
}
.contact2{
    text-align: left;
}
.contact2 ul{
    padding-left: 20px;
    background-color: #f4e3c9;
    border-radius: 10px;
}
.contact2 ul li a{
    color: black;
    padding: 1rem 0;
}
.contact2 ul li a:hover{
    color: rgb(255, 145, 0);
}
